<!DOCTYPE html>
<html>
<head>
<title>Smart Job Finder</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="fullscreen">

<h1>AI Job Recommendation</h1>

<form method="POST" enctype="multipart/form-data">
    <input type="file" name="resume" required>
    <button class="primary-btn">Upload Resume & Get Jobs</button>
</form>

{% if skills %}
<h3>Detected Skills:</h3>
<p>{{ skills }}</p>
{% endif %}

{% for job in jobs %}
<div class="card">
    <h2>{{ job.title }}</h2>
    <p><b>{{ job.company }}</b></p>
    <p>{{ job.location }}</p>
    <a href="{{ job.link }}" target="_blank" class="primary-btn">Apply</a>
</div>
{% endfor %}

</div>

</body>
</html>